#============= thermal-engine ==============
allow thermal-engine diag_partition_device:dir search;
allow thermal-engine sysfs_kgsl:file { getattr open read };
